/* === start ===  */

table {
  border-collapse: collapse;
  table-layout: fixed;
  vertical-align: middle;
  text-align: center;
}

table thead tr th {
  vertical-align: middle;
}

.student-detail{    
  margin-top: 50px !important;
  margin-bottom: 30px;
}

.small-btn{
  padding: 4px 10px !important;
  font-size: 12px !important;
  font-weight: bold !important;
}

.containers {
  max-width: 1400px;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

.btn-add{
  position: absolute;
  right: 10px;
  top: 25px;
}

table td {
  vertical-align: middle;
  word-wrap: break-word;
}

/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#clickMe{    
  width: 10%;
  text-align: center;
  margin: auto;
}

.create{
  position: absolute;
  right: 58px;
  top: 5px;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.form-group{
  position: relative;
}

.icon-person{
  text-align: right;
  position: absolute;
  right: 10px;
  top: 6px;     
  color: #777;
  font-size: 17px;
}

.top{
  margin-top: 40px;
  margin-bottom: 40px;
}

.link-student-detail{
  margin: 0;
  padding: 9px 36%;
  color: #212529;
  text-decoration: none;
}

.name-project{
  font-weight: bolder;
  color: #2196f3;
  padding-bottom: 35px;
  letter-spacing: 1px;
  text-decoration-line: underline;
  text-shadow: 0 0 black;
}

.pad20{
  padding: 5px 0;
}

/* === end ==  */


.link-primary{
  cursor: pointer;
}

.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
